# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

*.cmake
luac
CMakeFiles/
Makefile
lua-5.4.6/CMakeFiles/
lua-5.4.6/Makefile

# Build
.ninja_deps
.ninja_log
CMakeCache.txt
build.ninja
lua
